    
    .region-TR {
        stroke: #000;
        fill: #bc1212;
        fill-opacity: 0.4;
    }

    .region-NC {
        stroke: #000;
        fill: #0064aa;
        fill-opacity: 0.4;
    }

    .region-VS {
        stroke: #000;
        fill: #6e18a3;
        fill-opacity: 0.4;
    }

    .region-NS {
        stroke: #000;
        fill: #718096;
        fill-opacity: 0.4;
    }

    .region-NS-cutoff {
        stroke: #000;
        fill: #718096;
        fill-opacity: 0.8;
    }

    .region-VS-cutoff {
        stroke: #000;
        fill: #2e153d;
        fill-opacity: 0.8;
    }

    .region-NC-cutoff {
        stroke: #000;
        fill: #0f273f;
        fill-opacity: 0.8;
    }

    .region-TR-cutoff {
        stroke: #000;
        fill: #3a0005;
        fill-opacity: 0.8;
    }

    .link-NS {
        stroke: #928e99;
        opacity: 0.6;
    }

    .link-VS {
        stroke: #ffb2ff;
        opacity: 0.8;
    }

    .link-NC {
        stroke: #b0ffff;
        opacity: 0.8;
    }

    .link-TR {
        stroke: #ffbfb2;
        opacity: 0.8;
    }

    .link-warpgate {
        stroke: #928e99;
        opacity: 0.8;
        stroke-dasharray: 5 5;
    }

    .link-captureable {
        stroke: #eae690;
        opacity: 0.8;
        stroke-dasharray: 5 5;
    }

    .badge-TR {
        fill: #bc1212;
    }

    .badge-NC {
        fill: #0064aa;
    }

    .badge-VS {
        fill: #6e18a3;
    }

    .badge-NS {
        fill: #718096;
    }

    .bglink-NS,
    .bglink-VS,
    .bglink-NC,
    .bglink-TR {
        stroke: none;
    }

    .bglink-warpgate {
        stroke: #49474c;
        opacity: 0.8;
        stroke-dasharray: 5 5;
        stroke-dashoffset: 5;
    }

    .bglink-captureable {
        stroke: #8b7251;
        opacity: 0.8;
        stroke-dasharray: 5 5;
        stroke-dashoffset: 5;
    }

    text {
        font-family: sans-serif;
        text-anchor: middle;
        dominant-baseline: hanging;
    }

    .fgtext {
        fill: #FFF;
    }

    .bgtext-TR {
        fill: #bc1212;
        stroke: #bc1212;
    }

    .bgtext-NC {
        fill: #0064aa;
        stroke: #0064aa;
    }

    .bgtext-VS {
        fill: #6e18a3;
        stroke: #6e18a3;
    }

    .bgtext-NS {
        fill: #718096;
        stroke: #718096;
    }
  